<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet">
        <title>login</title>
    </head>
    <body class="login-page">
        <div class="container">
            <div class="form-box" id="login-form">
                <form action="/" method="POST">
                    <h2 class="lgh2">Login</h2>
                    <input class="inp" type="username" name="username" placeholder="Username" required autocomplete="off">
                    <input class="inp" type="password" name="password" placeholder="Password" required autocomplete="off">
                    <button class="bt" type="submit" name="login">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>
